# Nuxt dev/build outputs
.output
.nuxt
.data
.nitro
.cache

# Node dependencies
node_modules
# package-lock.json <- Committed for Vercel
yarn.lock
pnpm-lock.yaml

# System files
.DS_Store
Thumbs.db

# Env files
.env
.env.*
!.env.example

# Logs
*.log
